
<!-- Sidebar based off fantastic work by @Daeraxa -->
<aside class="sidebar">
  <div class="books">
    <ul class="book-list">

      <% for (const book in _sidebar) { %>
        <li>
          <i class="fab fa-github"></i><a href="<%=_sidebar[book]._link%>">
            <%=book%>
          </a>
        </li>
      <% } %>
    </ul>
  </div>


  <div class=chapters>
    <!-- Now we need to find the book we are in, based on the doc frontmatter -->
    <% for (const book in _sidebar) { %>
      <% if (book === curbook) { %>
        <% for (const chapter in _sidebar[book]._items) { %>
          <h3 class="chapter">
            <a href="<%=_sidebar[book]._items[chapter]._link%>">
              <%=chapter%>
            </a>
          </h3>
          <ul class="chapter-list">
            <% for (const section in _sidebar[book]._items[chapter]._items) { %>
              <li class="section">
                <a href="<%=_sidebar[book]._items[chapter]._items[section]._link%>">
                  <%=section%>
                </a>
              </li>
            <% } %>
          </ul>
        <% } %>
      <% } %>
    <% } %>

  </div>

</aside>
