<%- include("../partials/head", { title }); %>

<body>
  <main>
    <%- include("../partials/header"); %>
    <div class="content">
      <%- include("../partials/sidebar"); %>
      <div class="document">
        <div class="page">
          <h1><%=title%></h1>
          <%- content %>
        </div>
      </div>
    </div>
    <%- include("../partials/footer", { title }); %>
  </main>
</body>
