<%- include("../partials/head", { title }); %>
<%- include("../partials/header"); %>

<body>
<<<<<<< HEAD
  <%- include("../partials/sidebar.ejs"); %>
  
<h1><%=title%></h1>

<%- content %>

=======
  <main>
      <div class="content">
        <h1><%=title%></h1>
        <%- content %>
      </div>
  </main>
>>>>>>> fcf4538 (add basic styling)
</body>

<%- include("../partials/footer", { title }); %>
